.anButton{
	display: block;
	margin: 0 auto;
}
.home-galery__img{	
	width: 100%;
	max-width: 205px;
}
.home-galery__descr {
	margin: 0 auto;
	padding-bottom: 36px;
	line-height: 1.5;
}
.fullHeight{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
}
.home-gallery{
	background-color: rgb(255, 255, 255);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 80px;
	padding-top: 60px;
}
.Gallery__bullets--dark .Gallery__bullet{
	background-color: #528bcc !important;
}
.Gallery__bullet{
	width: 10px;
	height: 10px;
}